.header__email {
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    margin-right: 24px;
}