.header__close-icon {
    display: block;
    max-width: 20px;
    height: 20px;
}

@media screen and (max-width: 767px) {
    .popup__close-icon {
        width: calc( (100vw - 320px)/(767 - 320) * (32 - 20) + 20px);
    }
}