.profile__avatar {
    position: relative;
    max-width: 120px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border-color: #C4C4C4;
    display: block;
}