.header {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 40px;
    max-width: 880px;
    min-height: 74px;
    padding: 45px 0 0 0;
    position: relative;
    justify-content: space-between;
}

.header::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #545454;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1023px) {
    .header {
        min-height: calc( (100vw - 320px)/(767 - 320) * (74 - 56) + 56px);
        padding-top: calc( (100vw - 320px)/(767 - 320) * (45 - 28) + 28px);
        margin-bottom: calc( (100vw - 320px)/(767 - 320) * (40 - 42) + 42px);
    }
}